body{
	background-color: #0b0b0b;
}
@font-face{
	font-family: 'century';
	src: url(century.ttf);
}
#main{
	width: 500px;
	height: 500px;
	position: absolute;
	top: 70%;
	left: 40%;
	transform: translate(-50%,-50%) scale(0.5);
	animation-name: main;
	animation-duration: 2s;
    animation-fill-mode: forwards;
	animation-delay: 4s;
}

@keyframes main{
		from{transform: translate(-50%,-50%) scale(0.5);top: 70%;}
		to{transform: translate(-50%,-50%) scale(0.1);top: 28%;left: 39%;}

	}


	#empressario_14{
		width: 195px;
		height: 138px;
		position: absolute;
		left: 140px;
		top: 278px;
		background-color: #BB1F25;
		clip-path: polygon(0% 100%,89% 0%,100% 29%);
		animation-name: arrow1;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    bottom: 78px !important;
    transform: rotate(-15deg);
	}

	#empressario_15{
		width: 193px;
		height: 138px;
		position: absolute;
		left: 121px;
		top: 284px;
		background-color: #EE2B31;
		clip-path: polygon(100% 7%,0% 74%,11% 100%);
		animation-name: arrow2;
    bottom: 73px !important;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transform: rotate(-15deg);
	}


	@keyframes arrow1{
		from{top: 278px;height:138px;  left: 140px;width: 195px;}
		to{top: -250px;left: 140px;height: 666px;width: 742px;clip-path: polygon(0% 91%,90% 2%,100% 19%);}

	}
	@keyframes arrow2{
		from{top: 284px;left: 121px; height:138px;width: 193px;}
		to{top: -300px;left: 60px;height: 725px; width: 737px;clip-path: polygon(100% 12%,2% 77%,10% 93%);}
}

	#empressario_16{
		width: 105px;
		height: 104px;
		position: absolute;
		left: 287px;
		top: 223px;
		background-color: #C9242A;
		clip-path: polygon(100% 0%,0% 38.5%,33.3% 100%);
		animation-name: arrowtop1;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    transform: rotate(-15deg);
	}
		#empressario_17{
		width: 127px;
		height: 40px;
		position: absolute;
		left: 258px;
		top: 227px;
		background-color: #EE2B31;
		clip-path: polygon(0% 0%,100% 0%,17.3% 100%);
		animation-name: arrowtop2;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transform: rotate(-15deg);
	}
	@keyframes arrowtop1{
		from{left: 287px;top: 223px;}
		to{left: 790px;top: -325px;transform:  rotate(-15deg) scale(2);}
	}
	@keyframes arrowtop2{
		from{left: 258px;top:227px;}
		to{left: 742px;top: -349px;transform:  rotate(-15deg) scale(2);}
	}



#empressario_18{
	top: -277px;
    left: 84px;
    height: 666px;
    width: 806px;
    clip-path: polygon(7% 91%,0% 75%,90% 2%,98% 19%);
    position: absolute;
    background-color: #EE2B31;
    bottom: 78px !important;
    transform: rotate(-95deg);
    z-index: -3;
    opacity: 0;
    animation-name: arrowback;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2.5s;
	}
@keyframes arrowback{
		from{opacity: 0;}
		to{opacity: 1;}
	}
	
	#para{
		color: white;
		opacity: 0;
		animation-name: para;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 5s;
	    font-size: 4em;
	    font-family: sans-serif;
	}
	@keyframes para{
		from{opacity: 0;}
		to{opacity: 1;}
	}
#para #ted{
		color: #EE2B31;
		position: absolute;
		top: 20%;
		left: 21% !important;
		font-size: 1.6em;
		font-weight: bold;
	}
	#para #ted1{
		position: absolute;
		top: 20%;
		left: 46% !important;
		font-size: 1.6em;
	}

	#ted2{
		color: #EE2B31;
		position: absolute;
		top: 41%;
		left: 21% !important;
		font-size: 2.5em;
		font-family: sans-serif;
		opacity: 0;
		animation-name: para1;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 5s;
	}

	#ted3{
		color: white;
		position: absolute;
		top: 41%;
		left: 25% !important;
		font-size: 2.5em;
		font-family: century;
		opacity: 0;
		font-weight: normal;
		animation-name: para1;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 5s;
	}
	@keyframes para1{
		from{opacity: 0;}
		to{opacity: 1;}
	}
	#ted4{
		color: #EE2B31;
		position: absolute;
		top: 82%;
		left: 50%;
		transform: translate(-50%);
		font-size: 2.2em;
		font-family: century;
		opacity: 0;
		font-weight: normal;
		animation-name: para1;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 5s;
	}

	#logo{
		position: absolute;
		width: 95px;
		height: 93px;
		top: 23%;
		left: 13%;
		animation-name: para1;
		opacity: 0;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 5s;
	}
	#logoside{
		position: absolute;
		width: 5px;
		height: 17px;
		top: 23%;
		left: 17.3%;
		background-color: white;
		border-radius: 2px;	
		animation-name: logo;
		opacity: 0;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 6s;
	    animation-iteration-count: infinite;
	    z-index: -2;
	}

	@keyframes logo{
		0%{opacity: 1;top: 23%;}
		100%{top: 28%;opacity: 1;}
	}

	#logoside1{
		position: absolute;
		width: 18px;
		height: 6px;
		top: 26.5%;
		left: 17.3%;
		background-color: white;
		border-radius: 2px;	
		animation-name: logo1;
		opacity: 0;
	    animation-fill-mode: forwards;
	    animation-iteration-count: infinite;
	    animation-duration: 2s;
	    animation-delay: 7s;
	    z-index: -2;
	}
	@keyframes logo1{
		0%{opacity: 1;}
		100%{opacity: 1;left: 15%;width: 0;}

	}

	#logoside2{
		position: absolute;
		width: 6px;
		height: 20px;
		top: 26.8%;
		left: 14.9%;
		background-color: white;
		border-radius: 2px;	
		animation-name: logo2;
		opacity: 0;
	    animation-iteration-count: infinite;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-delay: 8.5s;
	    z-index: -2;
	}

	@keyframes logo2{
		0%{opacity: 1;top: 26.5%;}
		100%{opacity: 1;top: 33%;}

	}

	#logoside3{
		position: absolute;
		width: 18px;
		height: 6px;
		top: 31.5%;
		left: 14.3%;
		background-color: white;
		border-radius: 2px;	
		animation-name: logo3;
		opacity: 0;
	    animation-fill-mode: forwards;
	    animation-iteration-count: infinite;
	    animation-duration: 1.8s;
	    animation-delay: 9.5s;
	    z-index: -2;
	}
	@keyframes logo3{
		0%{opacity: 1;}
		100%{opacity: 1; left: 12.5%;top: 31.5%;width: 0}

	}

	#logoside4{
		position: absolute;
		width: 7px;
		height: 0px;
		top: 31.5%;
		left: 12.5%;
		background-color: white;
		border-radius: 2px;	
		animation-name: logo4;
		opacity: 0;
	    animation-fill-mode: forwards;
	    animation-duration: 2s;
	    animation-iteration-count: infinite;
	    animation-delay: 10.5s;
	    z-index: -2;
	}
	@keyframes logo4{
		0%{opacity: 1;top: 31.5%;height: 18px}
		100%{opacity: 1; top: 37.3%;height: 0px}

	}










